:root{
    --blue: #3A38FF;
    --softPurple: #E5E4FF;
    --gray1: #DFE2E7;
    --navy: #3D3D65;
    --text-gray: #E5E4FF;
    --green: #316762;
    --pink: #D861D3;
    --red: #D86161;
    --yellow: #FFB444;
    --gray2: #E7EBED;
    --body: #F9FBFC;
    --white: #ffffff;
    --fwlight:300;
    --fwregular:400;
    --fwmedium:500;
    --fwsemibold:600;
    --fwbold:700;
    --fwextrabold:800;
    --fwblack:900;
}

body{
    font-family: 'Poppins',sans-serif;
}

.big-header {
    font-size: 48px;
    font-weight: var(--fwextrabold);
    color: var(--navy);
    margin: 0;
}

.medium-header{
    font-size: 28px;
    font-weight: var(--fwbold);
    color: var(--navy);
    margin: 0;
}
.small-header {
    font-size: 22px;
    font-weight: var(--fwbold);
    color: var(--navy);
    margin: 0;
}

.primary-copy{
    font-size: 16px;
    font-weight: var(--fwregular);
    margin: 0;
    color: var(--navy);
}