:root{
    --blue: #3A38FF;
    --softPurple: #E5E4FF;
    --gray: #DFE2E7;
    --navy: #3D3D65;
    --text-gray: #E5E4FF;
    --green: #316762;
    --pink: #D861D3;
    --red: #D86161;
    --yellow: #FFB444;
    --bg-logo: #E7EBED;
    --body: #F9FBFC;
}